# ==========================================
# 🔐 Secrets & Local Reference Files (Our Test Files)
# ==========================================
gitleaks-test.txt
temp-cicd


# ==========================================
# 📦 Node.js Dependencies & Environment
# ==========================================
node_modules/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore Terraform State in Root Folder
*.tfstate
*.tfstate.backup
.terraform/


# ==========================================
# 💻 Local IDE Settings (VS Code / OS)
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# 🛡️ Cryptographic Keys (Do Not Push)
# ==========================================
cosign.key

